<%= form_for(@project,html:{class:'form-horizontal'}) do |f| %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <%if @project.errors.any? %>
      <div id="error_explanation">
        <h2>Get<%= @project.errors.count %>errors !</h2>
        <ul>
          <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :title,'やること', class:'control-label col-sm-3'%>
      <div class="col-sm-7">
        <%= f.text_field :title, class:'form-control'%>
      </div>
  </div>
  <div class="form-group">
    <%= f.label :content,'詳細', class:'control-label col-sm-3'%>
      <div class="col-sm-7">
        <%= f.text_field :content, class:'form-control'%>
      </div>
  </div>
  <div class="form-group">
    <%= f.label :limit,'期限', class:'control-label col-sm-3'%>
    <div class="col-sm-7">
      <%= f.datetime_select :limit, class:'form-control'%>
    </div>
  </div>
  <br>
  <%= f.submit "create new task",class:'btn btn-default btn-sm' %>
  <br>
  <% end %>
  <br>
  <%= link_to projects_path,class:'btn btn-default btn-sm' do%>
    <i class="fa fa-arrow-left"></i>back to tasks
  <% end %>
