<div class="container">
<h1>Tasks</h1>
<%= link_to "new task",new_project_path %>

<% @projects.each do |project| %>
<p>title:<%= project.title %></p>
<p>content:<%= project.content %></p>
<%= link_to "edit",edit_project_path(project.id) ,class:'btn btn-default btn-sm'%>
<%= link_to "delete",project_path(project.id),method: :delete,data:{confirm:'Delete this task?'} %>
<% end %>
</div>
