<!DOCTYPE html>
<html>
<head>
  <title>Mytask</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <header>
      <p><%= link_to'mytask',root_path,class:"appname" %></p>
    </header>

      <%= yield %>
  </div>

<footer>
    <div class="container-fluid">
      <p class="info">&copy; 2018 mytask</p>
    </div>
</footer>

</body>
</html>
